@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body{
    background-image: url("../img/Untitled-1.jpg");
    font-family: "Poetsen One", sans-serif;
}

h1{
    font-size: 30px;
}

.profilePicturePage{
    width: 15vw;
    border-radius: 50%;
    margin-top: 50px;
    cursor: pointer;
}

.link-btn{
    font-family: "Poetsen One", sans-serif;
    height: 50px;
    font-size: 25px;
    border-radius: 50px;
    margin-top: auto;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: #000000 1px 5px 1px;
}

.link-btn:hover{
    cursor: pointer;
    position: relative;
    background-color: #F0FFFFFF;
    animation: button_hover 0.5s;
    box-shadow: #000000 0 0 0;
    top: 5px;
}

@keyframes button_hover {
    from {
        box-shadow: #000000 1px 5px 1px;
        top: 0;
    }
    to {
        box-shadow: #000000 0 0 0;
        top: 5px;
    }
}

.icon{
    padding-top: 3px;
    left: 21%;
    position: absolute;
}

.link-btn > img{
    width: 30px;
    position: absolute;
}

.link-btn > span{
    padding-left: 40px;
    padding-right: 5px;
    width: max-content;
}

@media (max-width: 600px){
    .link-btn{
        width: 100vw !important;
        top: 0 !important;
        box-shadow: #000000 0 0 0 !important;
    }
    #div-links{
        width: 100% !important;
    }
}