@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body{
    background-image: url("../img/Untitled-1.jpg");
    font-family: "Poetsen One", sans-serif;
}

h1{
    font-size: 30px;
}

.profilePicturePage{
    width: 15vw;
    border-radius: 50%;
    margin-top: 50px;
    cursor: pointer;
}

.link-btn{
    font-family: "Poetsen One", sans-serif;
    width: 60vw;
    height: 50px;
    font-size: 25px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 10px;
}

.link-btn:hover{
    cursor: pointer;
}

.icon{
    padding-top: 3px;
    left: 21%;
    position: absolute;
}